<h1> Login </h1>

<div class='panel-heading'>

</div>

<div class='panel-body'>
    <p>
      <a class="btn btn-primary col-xs-12" href="<%= auth_path(@conn, :login, "google") %>">
        <i class='fa fa-google'></i>
        Google
      </a>
    </p>
</div>
